
<div class="row">
  <form style="width :35%;float: right;" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <mat-label>Already a User ? Please Sign In</mat-label>
    
  
    <mat-form-field style="margin-top: 5%;" appearance="outline" class="form-control">
      <mat-label> Username: </mat-label>
      <input matInput formControlName="Username"/>
      <div
        *ngIf="loginsubmitted && loginForm.controls.Username.errors"
        class="error"
      >
        <div *ngIf="loginForm.controls.Username.errors.required">
          Please Enter Username
        </div>
      </div>
    </mat-form-field>
  
    
    <mat-form-field appearance="outline" class="form-control">
      <mat-label> Password: </mat-label>
      <input matInput type="password" formControlName="Password" />
      <div *ngIf="loginsubmitted && loginForm.controls.Password.errors" class="error">
        <div *ngIf="loginForm.controls.Password.errors.required">
          Password
        </div>
      </div>
    </mat-form-field>
    <input type="submit" value="SIGN IN" class="cta" />
  </form>
<form style="width: 35%;" [formGroup]="messageForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="form-control">
    <mat-label>Full Name:</mat-label>
    <input matInput type="text" formControlName="FullName" />
    <div *ngIf="registration && messageForm.controls.FullName.errors" class="error">
      <div *ngIf="messageForm.controls.FullName.errors.required">
        Please Enter Full Name
      </div>
    </div>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-control">
    <mat-label> Username: </mat-label>
    <input  matInput formControlName="Username"/>
    <div
      *ngIf="registration && messageForm.controls.Username.errors"
      class="error"
    >
      <div *ngIf="messageForm.controls.Username.errors.required">
        Please Enter Username
      </div>
    </div>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-control">
    <mat-label> Password: </mat-label>
    <input matInput type="password" formControlName="Password" />
    <div *ngIf="registration && messageForm.controls.Password.errors" class="error">
      <div *ngIf="messageForm.controls.Password.errors.required">
        Password
      </div>
    </div>
  </mat-form-field>
  <input type="submit" value="SIGN UP" class="cta" />
</form>






</div>